In [1]:
# to import the pandas Library
import pandas as pd

In [2]:
''' Reading the attrition Datafile'''
df=pd.read_csv("attrition.csv")
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [3]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [4]:
df.duplicated()
df.drop_duplicates()
df.dropna()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,29,No,Travel_Rarely,Sales,4,3,Other,1,4405,Female,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8

In [5]:
from sklearn import preprocessing

In [6]:
Label_encoder=preprocessing.LabelBinarizer()

In [7]:
df["Attrition"]=Label_encoder.fit_transform(df["Attrition"])

In [8]:
df1=df[df["Attrition"]==0] #No will be replaced by 0

In [9]:
df2=df[df["Attrition"]==1]  #Yes will be replaced by 1

In [10]:
df1.to_excel("Attrition_no.xlsx")

In [11]:
df2.to_excel("Attrition_yes.xlsx")

# Mann-Whitney test

### Attrition (yes or no) vs Distance from Home

In [12]:
from scipy.stats import mannwhitneyu

In [13]:
stats,p=mannwhitneyu(df1.DistanceFromHome,df2.DistanceFromHome)

In [14]:
print(stats,p)

1312110.0 0.4629185205822659

In [15]:
H0="There is no significant differnce in the Distance from Home when attrition is yes or no"
H1="There is significant differnce in the Distance from Home when attrition is yes or no"
if p<0.05:
    print("Null Hypothesis Rejected"," \nAccepted Alternate Hypothesis H1:",H1)
else:
    print("Null Hypothesis accepted ","\nH0:",H0)

Null Hypothesis accepted
H0: There is no significant differnce in the Distance from Home when attrition is yes or no

### Attrition vs Age

In [16]:
stats,p=mannwhitneyu(df1.Age,df2.Age)
print(stats,p)
H0="There is no significant differnce in the Age when attrition is yes or no"
H1="There is significant differnce in the Age when attrition is yes or no"
if p<0.05:
    print("Null Hypothesis Rejected"," \nAccepted Alternate Hypothesis H1:",H1)
else:
    print("Null Hypothesis accepted ","\nH0:",H0)

961731.0 2.9951588479067175e-30
Null Hypothesis Rejected
Accepted Alternate Hypothesis H1: There is significant differnce in the Age when attrition is yes or no

### Attrition vs Education

In [17]:
stats,p=mannwhitneyu(df1.Education,df2.Education)
print(stats,p)
H0="There is no significant differnce in the Education when attrition is yes or no"
H1="There is significant differnce in the Education when attrition is yes or no"
if p<0.05:
    print("Null Hypothesis Rejected"," \nAccepted Alternate Hypothesis H1:",H1)
else:
    print("Null Hypothesis accepted ","\nH0:",H0)

1280146.5 0.12035477215449608
Null Hypothesis accepted
H0: There is no significant differnce in the Education when attrition is yes or no

### Attrition vs Percent Salary Hike

In [18]:
stats,p=mannwhitneyu(df1.PercentSalaryHike,df2.PercentSalaryHike)
print(stats,p)
H0="There is no significant differnce in the Percentage Salary Hike  when attrition is yes or no"
H1="There is significant differnce in the Percentage Salary Hike when attrition is yes or no"
if p<0.05:
    print("Null Hypothesis Rejected"," \nAccepted Alternate Hypothesis H1:",H1)
else:
    print("Null Hypothesis accepted ","\nH0:",H0)

1250640.0 0.018660129917539733
Null Hypothesis Rejected
Accepted Alternate Hypothesis H1: There is significant differnce in the Percentage Salary Hike when attrition is yes or no

### Attrition vs Total Working Years

In [19]:
stats,p=mannwhitneyu(df1.TotalWorkingYears,df2.TotalWorkingYears)
print(stats,p)
H0="There is no significant differnce in the Total Working Years when attrition is yes or no"
H1="There is significant differnce in the Total Working Years when attrition is yes or no"
if p<0.05:
    print("Null Hypothesis Rejected"," \nAccepted Alternate Hypothesis H1:\n",H1)
else:
    print("Null Hypothesis accepted ","\nH0:",H0)

909958.0 2.894653260702919e-39
Null Hypothesis Rejected
Accepted Alternate Hypothesis H1:
 There is significant differnce in the Total Working Years when attrition is yes or no

### Attrition vs Training Times Last Year

In [20]:
stats,p=mannwhitneyu(df1.TrainingTimesLastYear,df2.TrainingTimesLastYear)
print(stats,p)
H0="There is no significant differnce in the Training Times Last Year when attrition is yes or no"
H1="There is significant differnce in the Training Times Last Year when attrition is yes or no"
if p<0.05:
    print("Null Hypothesis Rejected"," \nAccepted Alternate Hypothesis H1:\n",H1)
else:
    print("Null Hypothesis accepted ","\nH0:",H0)

1238940.0 0.005167954938699059
Null Hypothesis Rejected
Accepted Alternate Hypothesis H1:
 There is significant differnce in the Training Times Last Year when attrition is yes or no

### Attrition vs Years At Company

In [21]:
stats,p=mannwhitneyu(df1.YearsAtCompany,df2.YearsAtCompany)
print(stats,p)
H0="There is no significant differnce in the Years At Company when attrition is yes or no"
H1="There is significant differnce in the Years At Company when attrition is yes or no"
if p<0.05:
    print("Null Hypothesis Rejected"," \nAccepted Alternate Hypothesis H1:\n",H1)
else:
    print("Null Hypothesis accepted ","\nH0:",H0)

923238.0 6.047598261693028e-37
Null Hypothesis Rejected
Accepted Alternate Hypothesis H1:
 There is significant differnce in the Years At Company when attrition is yes or no

### Attrition vs Years Since Last Promotion

In [22]:
stats,p=mannwhitneyu(df1.YearsSinceLastPromotion,df2.YearsSinceLastPromotion)
print(stats,p)
H0="There is no significant differnce in the Years Since Last Promotion when attrition is yes or no"
H1="There is significant differnce in the Years Since Last Promotion when attrition is yes or no"
if p<0.05:
    print("Null Hypothesis Rejected"," \nAccepted Alternate Hypothesis H1:\n",H1)
else:
    print("Null Hypothesis accepted ","\nH0:",H0)

1209366.0 0.0002021180346719736
Null Hypothesis Rejected
Accepted Alternate Hypothesis H1:
 There is significant differnce in the Years Since Last Promotion when attrition is yes or no

### Attrition vs Number of years under current manager

In [23]:
stats,p=mannwhitneyu(df1.YearsWithCurrManager,df2.YearsWithCurrManager)
print(stats,p)
H0="There is no significant differnce in the Number of years under current manager when attrition is yes or no"
H1="There is significant differnce in the Number of years under current manager when attrition is yes or no"
if p<0.05:
    print("Null Hypothesis Rejected"," \nAccepted Alternate Hypothesis H1:\n",H1)
else:
    print("Null Hypothesis accepted ","\nH0:",H0)

957253.5 1.2365483142169503e-31
Null Hypothesis Rejected
Accepted Alternate Hypothesis H1:
 There is significant differnce in the Number of years under current manager when attrition is yes or no

### Attrition vs Stock Option Level

In [24]:
stats,p=mannwhitneyu(df1.StockOptionLevel,df2.StockOptionLevel)
print(stats,p)
H0="There is no significant differnce in the Stock Option Level when attrition is yes or no"
H1="There is significant differnce in the Stock Option Level when attrition is yes or no"
if p<0.05:
    print("Null Hypothesis Rejected"," \nAccepted Alternate Hypothesis H1:\n",H1)
else:
    print("Null Hypothesis accepted ","\nH0:",H0)

1296846.0 0.2636805975678431
Null Hypothesis accepted
H0: There is no significant differnce in the Stock Option Level when attrition is yes or no

# Chi Square test

In [25]:
from scipy.stats import chi2_contingency

### Attrition vs Gender

In [26]:
chitable=pd.crosstab(df.Attrition, df.Gender)
print(chitable)
Ho="There is no significant differnce in the Gender and Attrition when it is yes or no"
Ha="There is significant differnce in the Gender and Attrition when it is yes or no"
stas,p,dof,expected=chi2_contingency(chitable)
print(stats,p)
if p<0.05:
    print("Null Hypothesis Rejected"," \nAccepted Alternate Hypothesis H1:\n",Ha)
else:
    print("Null Hypothesis accepted ","\nH0:",Ho)

Gender     Female  Male
Attrition
0            1494  2205
1             270   441
1296846.0 0.24529482862926827
Null Hypothesis accepted
H0: There is no significant differnce in the Gender and Attrition when it is yes or no

### Attrition vs Education

In [27]:
chitable=pd.crosstab(df.Attrition, df.Education)
print("Education Level")
print('\t1.Below College')
print('\t2.College')
print('\t3.Bachelor')
print( '\t4.Master')
print('\t5.Doctor')
print("")
print(chitable)
Ho="There is no significant differnce in the Education and Attrition when it is yes or no"
Ha="There is significant differnce in the Education and Attrition when it is yes or no"
stas,p,dof,expected=chi2_contingency(chitable)
print(stats,p)
if p<0.05:
    print("Null Hypothesis Rejected"," \nAccepted Alternate Hypothesis H1:\n",Ha)
else:
    print("Null Hypothesis accepted ","\nH0:",Ho)

Education Level
	1.Below College
	2.College
	3.Bachelor
	4.Master
	5.Doctor

Education    1    2     3     4    5
Attrition
0          432  687  1449  1008  123
1           78  159   267   186   21
1296846.0 0.22759826301782404
Null Hypothesis accepted
H0: There is no significant differnce in the Education and Attrition when it is yes or no

In [28]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')